body{
  margin: 0;
  font-family: monospace;
  font-size: 1.25em;
  background-color: #1199FF;
  
}

h3{
  font-weight:100;
  color: #444444;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}